@import "style.less";

// #######################################大小位置等相关########################################################
html,body {
	height: 100%;
	margin: 0px;
	background: #f5f7f9;
}

// 竖排菜单
.ivu-menu-vertical {
	height: 100%;

	// 菜单大小
	.ivu-menu-item, .ivu-menu-submenu-title {
		height: 25px;
		padding: 4px 10px;
		// 菜单鼠标事件
		&:hover {
			border-radius: 5px;
		}
	}

	.ivu-menu-submenu-title {
		padding-left: 7px;
	}

	// 菜单下标位置
	.ivu-menu-submenu-title-icon {
		top: 3px;
	}

	.ivu-menu {
		border-left: 1px solid #dbdbdb;
		margin-left: 18px;
		margin-right: 10px;
		padding-left: 10px;
	}

	// 带展开菜单
	.ivu-menu-submenu {
		.ivu-menu-item {
			padding-left: 15px;
		}
	}

	.ivu-menu-submenu-title {
		padding-left: 0;
		padding: 4px 10px;
	}
}

// 横排菜单
.ivu-menu-horizontal {
	height: 50px;
	line-height: 50px;
}

// 卡片
.ivu-card {
	border-radius: 0;
	// 卡片右上角
	&-extra {
		right: 10px;
		top: 10px;
	}
	
	// 卡片主体
	&-body {
		padding: 0px;
	}

	// 头部
	&-head {
		padding: 5px 16px;
		p {
			font-size: 10px;
		}
	}
}

// 输入表单
.ivu-input {
	background-color: unset;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid @inline-color;
	&:focus {
		box-shadow: 0 0 0 0;
	}
}

// 数字输入框
.ivu-input-number {
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid @inline-color;
	width: 100%;

	&-handler-wrap {
		border-left: 0px;
	}

	&-handler-down {
		border-top: 0px;
	}
}
.ivu-input-number-focused {
	box-shadow: 0 0 0 0;
}

// 输入组
.ivu-input-group {
	.ivu-input-group-prepend, .ivu-input-group-append {
		border-radius: 0;
		background-color: #fff;
		border: 0px;
		border-bottom: 1px solid #dddee1;
	}
}

// 颜色选择框
.ivu-color-picker {
	width: 100%;
	.ivu-select-dropdown {
		width: auto;
	}
}

// 下拉框
.ivu-select-selection {
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid @inline-color;
}

.ivu-select-visible .ivu-select-selection {
	box-shadow: 0 0 0 0;
}

.ivu-select-item {
	padding: 2px 16px;
}

// 错误信息框
.ivu-form-item-error .ivu-input {
	border: 0px;
	border-bottom: 1px solid red;
	&:focus {
		box-shadow: 0 0 0 0;
	}
}

// 竖排选中菜单
.ivu-menu-light.ivu-menu-vertical {
	.ivu-menu-item-active {
		&:not(.ivu-menu-submenu) {
			background: @primary-color;
			border-radius: 2px;
			border-right: 0px solid #2d8cf0;
			color: #fff;
		}
	}
}

// 模态框
.ivu-modal {
	&-content {
		border-radius: 0px;
		.ivu-modal-close {
			right: -20px;
			top: -30px;
			.ivu-icon-ios-close-empty {
				color: #fff;
				&:hover {
					// TODO hover旋转
					// transition: rotate(40deg);
				}
			}
			.ivu-modal-footer {
				.ivu-btn {}
			}
		}
	}
}

// 表格扩展
td.ivu-table-expanded-cell {
	padding: 0;
	// background: #fff !important;
	// background-color: #fff !important;
}

// 富文本插入url
.ql-tooltip {
	margin-left: 180px;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
	border-radius: 5px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,0.1);
	-webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	// background: rgba(255,0,0,0.4);
}

// #####################################################################################################



// 字体图标
.ivu-icon {
	// margin-right: 5px;
}

// 进度条
.ivu-progress-bg {
	background-color: @primary-color;
}


// 菜单 链接颜色
// .ivu-menu-light {
	a {
		color: #4a4a4a;
		&:hover {
			color: #4a4a4a;
		}
	}
// }



// 横排选中菜单
.ivu-menu-light.ivu-menu-horizontal {
	.ivu-menu-item-active {
		// color: @sele-menu-light-color;
		// border-bottom: 1px solid @sele-menu-light-color;
		&:hover {
			// color: @sele-menu-light-color;
		}
	}

	.ivu-menu-item {
		&:hover {
			// border-bottom: 1px solid @sele-menu-light-color;
		}
	}
}

// 高亮代码序号
.hljs ul li {
	list-style-type: decimal-leading-zero !important;
	margin-left: 20px;
	padding-left: 10px !important;
	border-left: 1px solid #ddd;
	font-size: 12px;
	line-height: 20px;
	&:hover {
		background: none;
	}

	&::before {
		content: none !important;
	}

	&:not(.light):hover {
		background: #393a3c8a;
	}
}

// 模态框垂直居中
.vertical-center-modal {
	display: flex;
	align-items: center;
	justify-content: center;

	.ivu-modal{
		top: 0;
	}
}

// 模态框脚部隐藏
.vertical-foot-hidden {
	.ivu-modal-footer {
		display: none;
	}
}



// ######################################自定义css类##############################################################

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.help-font {
	color: #9ea7b4;
	font-size: 10px;
	margin: 0px 4px;
}

// 页面主体
.page-body {
	padding: 15px;
}

// form表单项
.form-array-item {
	margin-top: 10px;
	padding-right: 20px;
	padding-top: 10px;
	border: 1px solid @inline-color;
	border-radius: 5px;
}

.rotate-90 {
	-webkit-transform: rotate(-90deg);
	moz-transform: rotate(-90deg);
}

.code-type {
	float: right;
	font-size: 30px;
	color: #eee;
	pointer-events: none;
}

.copy-text {
	float: right;
	cursor: pointer;
	color: #eee;
}

.line-num {
	position: absolute;
	height: 20px;
	left: 15px;
	width: 42px;
	cursor: pointer;
}

.light {
	background-color: #393a3c8a;
}

.padding-div {
	padding: 0px 20px;
	padding-top: 10px;
}
// ###############################################################################################################