/*定义全局Css*/
*{
	/*border: 1px solid red;*/
}

html,body{
	height: 100%;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

/*菜单*/
.ivu-menu-dark {
	background: #373d41;
}

/*竖排菜单*/
.ivu-menu-vertical {
	height: 100%;
}

/*字体图标*/
.ivu-icon {
	margin-right: 5px;
}

